@model LastSurvey.Models.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@if (Session["LoggedUserNumber"] != null && Session["LoggedUserNumber"].ToString() == "admin")
{
    //*Page Questions/Details*//
    //Visible for admin only//
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-check"></span> Details</h3>
        </div>
        <div class="panel-body">
            <h4>@Model.Question1</h4>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.QuestionType.QuestionType1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.QuestionType.QuestionType1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Survey.Title)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Survey.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Question1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Question1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MaxValue)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaxValue)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MinValue)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MinValue)
                    </dd>

                </dl>
                <div class="form-group">
                    <div class="col-md-offset-1 col-md-11">
                        <a href="@Url.Action("IndexAdmin", new { id = Model.SurveyID.Value })" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="go back">
                            <span class="glyphicon glyphicon-backward"></span>
                            <span> Back to list</span>
                        </a>
                        <a href="@Url.Action("Edit", new { id = Model.QuestionID })" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="Edit">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span> Edit</span>
                        </a>
                    </div>
                </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon glyphicon-ban-circle"></span> Something gone wrong!</h3>
        </div>
        <div class="panel-body">
            <h2>Ooops! You have been logged out</h2>
            <h3>Only logged users can access this page!</h3>
            <a href="@Url.Action("Index", "Home") " class=" btn btn-default" data-toggle="tooltip" data-placement="left" title="Go to survey list">
                <span class="glyphicon glyphicon glyphicon-home"></span><span> Log in</span>
            </a>
        </div>

    </div>
}
